*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
#bg1{
	background-color: #ff99ff;
}
#bg2{
	background-color: #cc3366;
	color:white;
}
#bg3{
	background-color: #ffff99;
}

.container{
	position: relative;
  	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;	
	
}
.row{
	
	margin-right: auto;
  	margin-left: 20px;
	width:100%;
	height:auto;
	position: relative;

	
}
.style {
  font-family: Trebuchet MS, Helvetica, sans-serif;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px; /* points (pt) are used in print, not screen.*/
    
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {

  	position:relative;

  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 30%;
    max-height: 325px;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  
  	position: relative;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
    

  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 46.15%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 94.5%;
    height:200px;
  }
}

h1{
	text-align: center;
	padding-top:40px;
	padding-bottom: 60px;
	background-color: #ffecff;

}
h2{
	text-align: center;
	margin-top:0;
	width:40%;
	height: auto;
	padding:5px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	background-color: #ff6347;
	float:right;
	
}


p{
	clear:right;
	font-weight:normal;
	margin:10px;
}
span{
	clear:right;
	font-size: 1.5em;
}
div.container{
	clear:left;
}

div> div >div{
	float:left;
	vertical-align: all;
	background-color: #999999;
	border:2px solid black;
	padding-left:10px;
	padding-bottom:20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom:10px;
	height:auto;
	
}